.bigbox {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    background-color: lightgrey;
    width: 70%;
  
    position: relative;
    box-shadow: 0px 0px 10px 1px black;
    
  }
  .layer {
    width: 100%; /* Make immediate children fill the width */
    box-sizing: content-box;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.164);
    text-align: center;
    padding: 10px 0 10px 0;
   
    font-size: 40px;
    font-weight: 600;
    list-style: none;
    padding: 0;
  }
  
  #app {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .sheet1 {
    position: absolute;
    width: 98%;
    height: 15px;
    background-color: lightgrey;
    z-index: -10;
    bottom: -10px;
    box-shadow: 0px 0px 10px 1px black;
  }
  .sheet2 {
    /* box-shadow: 0px 0px px 10px black; */
    position: absolute;
    bottom: -15px;
    width: 95%;
    height: 15px;
    background-color: lightgray;
    z-index: -20;
  }
  .counter{
    justify-content: start;
    display:flex;
    height:3px;
    align-items: center;
  }
  li{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .layer button {
    margin-left: 10px; /* Add spacing between span and button */
    background-color: lightgrey;
    border:none;
  
  }
  
  .layer li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    
  }
  .layer span{
    text-align: right;
  }
  
  .button-hidden {
    visibility: hidden;
    transition: visibility 0.3s ease;
  }
  li:hover .button-hidden {
    visibility: visible;
  }
  